<div data-options="dxView : { name: 'about', title: 'About' } " >
    <div  data-options="dxContent : { targetPlaceholder: 'content' } " >
        <div data-bind="dxScrollView: {}">
            <p style="padding: 5px">This Application was built to help to prepare users for the Driving Written Test in Trinidad.</p>
            <p style="padding: 5px">Created by: <a href="mailto:johnpisg@hotmail.com">Jhon Pierre</a>.</p>
            <p style="padding: 5px">2013-12</p>
	    </div>
        <br />
        <div data-bind="dxButton: { text: 'Back', clickAction: '#_back' }"></div>
    </div>
</div>