<div data-options="dxView : { name: 'home' } " >
    <div data-options="dxContent : { targetPlaceholder: 'content' } " >
        <h1 data-bind="text: message"></h1>
        <br />
        Enter your name: <div data-bind="dxTextBox: { value: name }" style="width: 200px"></div>
        <br />
        Number of questions: <div data-bind="dxTextBox: { value: questionNumber }" style="width: 200px"></div>
        <br />
        Time for the Test (min): <div data-bind="dxTextBox: { value: time }" style="width: 200px"></div>
        <br />
        <div data-bind="dxButton: { text: 'Start Random Test', clickAction: start }"></div>
        <div class="bottom">
            <div data-bind="dxButton: { text: 'About', clickAction: about }"></div>
        </div>
    </div>
</div>